<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <div class="flex justify-between items-center">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                User Profile
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Personal details and application.
              </p>
            </div>
            <a
              href="/logout"
              class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Logout
            </a>
          </div>
        </div>

        <div class="border-t border-gray-200">
          <dl>
            <div
              class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">Name</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= userData.name%>
              </dd>
            </div>
            <div
              class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">Email</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <%= userData.email%>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="mt-6">
        <form
          action="/post"
          method="POST"
          class="bg-white shadow rounded-lg p-8">
          <div class="mb-4">
            <label
              for="postContent"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Post Content</label
            >
            <textarea
              id="postContent"
              name="content"
              rows="4"
              class="shadow appearance-none resize-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="What's on your mind?"></textarea>
          </div>
          <div class="flex justify-end">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Post
            </button>
          </div>
        </form>
      </div>
      <div class="mt-6">
        <div class="bg-white shadow rounded-lg p-8">
          <h4 class="text-lg font-semibold text-gray-900 mb-4">Recent Posts</h4>
          <!-- Example Post -->
          <% userData.posts.reverse().forEach(function(post) { %>
          <div class="border-t border-gray-200 pt-4">
            <!-- Post Username -->
            <div class="text-sm font-medium text-indigo-600">
              <%= post.user.username %>
            </div>
            <!-- Post Content -->
            <p class="text-gray-700 mt-1"><%= post.content %></p>

            <small>Likes: <%= post.like.length %></small>
            <div>
              <a
                href="/like/<%= post._id %>"
                class="text-blue-500 hover:text-blue-600">
                <%= post.like.indexOf(userData.id) ? "Like" : "Unlike" %></a
              >
              <a
                href="/edit/<%= post._id %>"
                class="text-green-500 hover:text-green-600 ml-4"
                >Edit</a
              >
              <a
                href="/delete-post/<%= post._id %>"
                class="text-red-500 hover:text-red-600 ml-4"
                >Delete</a
              >
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
